@page
@model Online_Certification_Core_Web_App.Pages.Exams.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 >Exams</h1>

<p>
    <a class="btn btn-primary btn-xl"  asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exam[0].Certification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam[0].Marks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exam) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Certification.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marks)
            </td>
            <td>
                <a class="btn btn-primary btn-xl"  asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-primary btn-xl" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-primary btn-xl" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
